* {
    padding: 0;
}

body {
    font-family: Muli;
    margin: 0;
    padding: 0;
}

header {
    background-color: #56CCF2;
    height: 848px;
}

.header {
    max-width: 980px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-right: 20%;
}

.logo p {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    color: #FFFFFF;
}

.nav {
    padding: 25px;
    box-sizing: border-box;
}

.nav ul li:hover {
    border-bottom: 2px solid #FCC304;
}

ul {
    
    margin: 0 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #56CCF2;
}

li {
   display: inline-block;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
}

li a:hover:not(.active) {
  border-bottom: #FCC304;
}

.active {
  border-bottom: 3px solid #FCC304;
}

.header_text h1{
    font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 150%;
color: #FFFFFF;
}

.header_text p {
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 150%;
color: #FFFFFF;
}

.header_text {
    width: 70%;
    margin: 0 auto;
}

.header_text a {
    width: 180px;
  display: block;
margin-bottom: 80px;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 1px;
color: #253757;
  background: #FFFFFF;
border-radius: 64px;
  text-align: center;
  padding: 14px 16px;
  box-sizing: border-box;
  text-decoration: none;
  transition: color 1s;
  position: relative;
}

.header_text a:hover {
    width: 200px;
    background: black;
    transition: all 1s;
}

.working_img {
    position: relative;
    max-width: 980px;
    margin: 0 auto;
}

.working_img img {
    width: 100%;
}


.bottomleft {
    position: absolute;
    width: 264px;
    bottom: 86px;
    left: 98px;
}

.bottomleft .head {
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
color: #56CCF2;
}

.bottomleft .text {
    font-style: normal;
font-weight: 900;
font-size: 19.6px;
line-height: 140%;
color: #FFFFFF;

}

.welcome {
    margin: 0 auto;
    max-width: 980px;
    background-color: #E5E5E5;

}

object {
    height: 30px;
    position: relative;
    top: 2px;
    left: 1px;
}

.container {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.container2 {
    background-color: #E5E5E5; 
    padding-top: 325px;
    padding-bottom: 160px;
}

.wedo .container {
    display: flex;
    background-color: #fff; 
    flex-direction: row;  
    margin: 0 auto;
    justify-content: space-between;
    padding: 100px 0;
}

.wedo .container .item {
    box-sizing: border-box;
    padding: 10px;
}

.wedo .container .item img {
    width: 100%;
}

.item h5 {
    font-style: normal;
font-weight: 900;
font-size: 19.6px;
line-height: 140%;
color: #253757;
}

.item p {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
color: #334563;
}

.wedo .heading {
    font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 100%;
text-align: center;
color: #253757;
position: relative;
top: -22px;
}

.wraper_3 {
    background-color: #E5E5E5; 
}
.container .item {
    width: 264px;

}

.item-1 {
    width: 362px;
    margin: 150px 0 100px;
    z-index: 1;
}

.item-2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-items: center;
    justify-content: space-between;
    max-width: 540px;
}

.wedo {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.container-name {
    display: inline-block;
}

.first-column, .second-column {
    position: relative;
    z-index: 1;
}

.first-column {
    top: 300px;
}

.second-column {
    top: 160px;
}

.scuare {
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 240px;
    height: 256px;
    margin: 128px 25px;
    padding: 48px 32px;
    box-shadow: 16px 16px 16px rgba(0, 0, 0, 0.02);
    font-size: 12.6px;
    line-height: 150%;
}

.circle {
    margin: 0px auto 32px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    text-align: center;
    font-size: 40px;
    line-height: 1.5;
}



.one {
    background-color: rgba(86, 203, 242, 0.11);
}

.one .number {
    color: rgba(86, 203, 242, 1);
}

.two {
    background-color: rgba(252, 194, 4, 0.13);
}

.two .number {
    color: rgb(252, 195, 4);
}

.three {
    background-color: rgba(3, 213, 66, 0.11);
}

.three .number {
    color: #03D542;
}

.four {
    background-color: rgba(242, 86, 86, 0.116);
}

.four .number {
    color: #F25656;
}

.circle p {
    display: block;
    position: relative;
    top: 40%;
}

.number {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 150%;
    margin: 0;
}

.wraper_4 {
    
    background-color: #56CCF2;

}

.features {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    }
        


.photo {
    position: absolute;
    right: 0;
}

.photo img {
    height: 918px;
}

.icon {
    background-color: #fff;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    text-align: center;
    line-height: 76px;
    float: left;
    margin-right: 32px;
    position: relative;
    top: 10px;
}

.anotation {
    margin-top: 64px;
}

.container-name {
    color: #56CCF2;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 150%;
    /* margin-bottom: 40px; */
}

.features .item-1 .container-name {
    color: #fff;
}

h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 140%;
    color: #253757;
}

.anotation .content p {
    color: #fff;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}

.personal {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.personal .item {
    box-sizing: border-box;
    width: 280px;
    height: 460px;
    text-align: center;
    background: #FEFEFE;
    box-shadow: 16px 16px 32px rgba(0, 0, 0, 0.05);
    padding: 32px;
    z-index: 1;
}

.testimonials {
    padding-top: 165px;
    max-width: 980px;
    margin: 0 auto;
}

.personal .item .decor {
    width: 161.9px;
height: 64px;
border-radius: 32px;
position: relative;
transform: rotate(-65deg);
top: 55px;
left: 10px;
z-index: -1;
}

.personal .item .description {
    font-weight: normal;
font-size: 14.4px;
line-height: 150%;
text-align: center;
color: #253757;
}

.personal .item .line {
    display: block;
    content: "";
    width: 64px;
    height: 2px;
    color: black;
    margin: 30px auto;

}



.personal .item .name {
    font-style: normal;
font-weight: bold;
font-size: 12.6px;
line-height: 150%;
text-align: center;
color: #152032;
}

.personal .item .blue {
    background-color: #56CCF2;
}

.personal .item .orange {
    background-color: #FCC304;
}

.personal .item .tomato {
    background-color: #F25656;
}

.personal .item .position_blue {
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 150%;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #56CCF2;
}

.personal .item .position_orange {
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 150%;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #FCC304;
}

.personal .item .position_tomato {
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 150%;
text-align: center;
letter-spacing: 2px;
text-transform: uppercase;
color: #F25656;
}

.moto {
    background-color: #E5E5E5; 
    text-align: center;
    height: 500px;
    padding-top: 300px;
    position: relative;
    top: -155px;
}

.moto .text {
    max-width: 980px;
    margin: 0 auto;
}

.morto .text h1 {
    font-style: normal;
font-weight: 900;
font-size: 48px;
line-height: 100%;
text-align: center;
color: #253757;
}

.moto .text p {
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
text-align: center;
color: #334563;
position: relative;
}

.moto .button {
    width: 180px;
  display: block;
margin: 0 auto;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
  background: #2F80ED;
border-radius: 64px;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;   
}

.contact .form .button {
    width: 180px;
  display: block;
margin-top: 160px;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 1px;
color: #FFFFFF;
  background: #2F80ED;
border-radius: 64px;
  text-align: center;
  padding: 14px 16px;

  text-decoration: none;   
}

.moto .large {
    position: absolute;
    width: 143px;
    height: 56px;
    border-radius: 28px;
    transform: rotate(-65deg);
}

.moto .medium {
    position: absolute;
    width: 85px;
    height: 34px;
    border-radius: 17px;
    transform: rotate(-65deg);
}

.moto .little {
    position: absolute;
    width: 54px;
    height: 20px;
    border-radius: 10px;
    transform: rotate(-65deg);
}

.moto .purple {
    border: 2px solid #BC04FC;
    opacity: 0.5;
}

.moto .orange {
    border: 2px solid #FCC304;
}

.moto .blue {
    border: 2px solid #56CCF2;
}

.moto .tomato {
    border: 2px solid #F25656;
}

.moto .green {
    border: 2px solid #03D542;
}

.moto .a {
    top: 90%;
    left: 15%;
}

.moto .b {
    top: 50%;
    left: 90%;
}

.moto .c {
    top: 60%;
    left: 5%;
}

.moto .d {
    top: 33%;
    left: 10%;
}

.moto .e {
    top: 60%;
    left: 80%;
}

.moto .f {
    top: 58%;
    left: 13%;
}

.moto .g {
    top: 34%;
    left: 79%;
}

.moto .h {
    top: 77%;
    left: 68%;
}

.moto .j {
    top: 74%;
    left: 30%;
}

.moto .k {
    top: 25%;
    left: 25%;
}

.moto .l {
    top: 27%;
    left: 94%;
}

input {
    display: block;
    box-sizing: border-box;
    padding: 13px;
    border: none;
    border-bottom: 2px solid #E1E1E1;
    width: 100%;
    margin: 35px 0;
}

.contact, footer {
    display: flex;
    max-width: 980px;
    margin: 20px auto 20px;
    padding: 0 20px;
    padding: 0 20px;
    justify-content: space-between;

}

.form, .contacts {
    width: 40%;
}

.channel {
    font-style: normal;
font-weight: 800;
font-size: 12.6px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
color: #334563;
}

.cont_channel .content {
    font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 150%;
letter-spacing: 2px;
text-transform: uppercase;
color: #56CCF2;
margin: 0px 0 45px;
}

.social object {
    margin-right: 38px;
}

footer ul {
    
    margin: 0 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFF;
}

footer li a {
  display: block;
  color: #253757;
  text-align: center;
  padding: 14px 16px;
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 150%;
}
